openapi: 3.0.4
info:
  title: Acronym Generator
  description: >-
    Acronym Generator creates acronyms from phrases by extracting the first
    letter of each word. Input 'Application Programming Interface' and get
    'API'.
  termsOfService: https://apiverve.com/terms/
  contact:
    name: APIVerve Support
    email: hello@apiverve.com
    url: https://apiverve.com/contact
  version: 1.0.0
externalDocs:
  description: Learn more about APIVerve
  url: https://docs.apiverve.com?utm_source=openapi
servers:
  - url: https://api.apiverve.com/
paths:
  /v1/acronymgenerator:
    get:
      summary: Generate Acronym
      description: >-
        Generate an acronym from a phrase by extracting the first letter of each
        word
      operationId: acronymgenerator
      parameters:
        - name: text
          in: query
          schema:
            type: string
          required: true
          description: >-
            The phrase to generate an acronym from (must contain at least 2
            words)
          example: Application Programming Interface
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: status
                  error:
                    type: string
                    description: error
                  data:
                    type: object
                    description: data
              example:
                status: ok
                error: null
                data:
                  text: Application Programming Interface
                  acronyms:
                    - API
                    - APP IN
                    - Accessing Program's Interface
        '401':
          description: Your request was not authorized, or your API Key was invalid
        '404':
          description: Requested resource was not found
        '500':
          description: A server error has occurred, try again later
components:
  securitySchemes:
    api_key:
      type: apiKey
      name: x-api-key
      in: header
security:
  - api_key: []
